body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Formulário */

header {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#descricao {
    margin: 0 0 22px 0;
}

label {
    display: inline-block;
    width: 7.5cm;
    text-align: right;
}

#formulario {
    text-align: center;
}

#dataInicial {
    width: 175px;
}

#corCapa {
    width: 180px;
}

#corSublinhado {
    width: 180px;
}

.formInputs {
    margin: 15px 3cm 15px 0px;
}

/* Boletos */

#third {
    margin: 0 0 40px 0;
}

.threeGroup {
    margin: 0 0 10px 0;
}

.allParts {
    display: flex;
    justify-content: center;
    height: 9cm;
    margin: 0;
}

.identifiers {
    display: flex;
}

.receiptId {
    width: 20px;
    margin: 12px 12px 0px 12px;
    padding: 8px 8px 8px 8px;
    display: flex;
    justify-content: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.receiptNumberLeft {
    display: flex;
    justify-content: center;
    height: 18px;
    margin: 20px 5px 5px 5px;
    font-size: 20px;
}

.firstPart {
    margin: 0;
    width: 5.5cm;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.leftData {
    margin: 0px 10px 10px 10px;
    line-height: 1.3;
    text-align: start;
}

.secondPart {
    margin: 0px;
    width: 13cm;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.rightData {
    margin: 10px;
    text-align: justify;
    line-height: 1.5;
}

.receiptAndValue {
    display: flex;
}

.receiptNumberRight {
    display: flex;
    width: 4.5cm;
    margin: 15px 4cm 0.5cm 0px;
    font-size: 20px;
}

.rightValue {
    display: flex;
    justify-content: end;
    width: 6.5cm;
    font-size: 20px;
    margin: 15px 0px 0.5cm 0px;
}

.rightValueBold {
    margin: 0 0 0 4px;
}

/* Capa */

#cover {
    height: 9cm;
    width: 727px;
    margin: 40px auto 0px auto;
    -webkit-print-color-adjust: exact;
}

#buildingData {
    display: flex;
    justify-content: end;
    font-size: 30px;
}

#buildingNumberDescription {
    margin: 40px 0px 0px 10px;
}

#buildingNumber {
    margin: 40px 50px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#companyName {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 45px 0px 45px 0px;
    text-decoration: underline;
    text-decoration-style: double;
}

#ownersData {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#firstOwnerData {
    display: flex;
    justify-content: end;
}

#firstOwnerPhone {
    margin: 0px 50px 15px 0px;
}

#firstOwnerName {
    margin: 0px 20px 15px 0px;
}

#secondOwnerData {
    display: flex;
    justify-content: end;
}

#secondOwnerPhone {
    margin: 0px 50px 15px 0px;
}

#secondOwnerName {
    margin: 0px 20px 15px 0px;
}

#thirdOwnerData {
    display: flex;
    justify-content: end;
}

#thirdOwnerPhone {
    margin: 0px 50px 15px 0px;
}

#thirdOwnerName {
    margin: 0px 20px 15px 0px;
}
