body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.receipt-container {
    display: flex;
    justify-content: center;
    height: 9cm;
    margin: 0;
}

.receipt-summary {
    margin: 0;
    width: 5.5cm;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.receipt-summary-header {
    display: flex;
}

.receipt-id {
    width: 20px;
    margin: 12px 12px 0px 12px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.receipt-summary-number {
    display: flex;
    justify-content: center;
    height: 18px;
    margin: 20px 5px 5px 5px;
    font-size: 20px;
}

.receipt-summary-body {
    margin: 0px 10px 10px 10px;
    line-height: 1.3;
    text-align: start;
}

.receipt-summary-value-text {
    margin-bottom: 10px;
}

.receipt-summary-rent-text {
    margin: 10px 0px 10px 0px;
}

.receipt-main {
    margin: 0px;
    width: 13cm;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.receipt-main-header {
    margin: 10px;
    text-align: justify;
    line-height: 1.5;
    display: flex;
}

.receipt-main-number {
    display: flex;
    width: 4.5cm;
    margin: 15px 4cm 0.5cm 0px;
    font-size: 20px;
}

.receipt-main-value-number {
    display: flex;
    justify-content: end;
    width: 6.5cm;
    font-size: 20px;
    margin: 15px 0px 0.5cm 0px;
    text-transform: uppercase;
}

.receipt-main-value-number strong {
    margin-left: 4px; 
}

.receipt-main-body {
    margin: 5px 10px 10px 10px;
    text-align: justify;
    line-height: 1.5;
}

.receipt-main-body-text {
    margin-top: 0;
}

.receipts-space {
    margin-bottom: 90px;
}

/* Cover CSS */

.receipts-cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9cm;
    width: 727px;
    margin: 50px auto 0px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

.receipts-cover-data-container {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 8.5cm;
    width: 700px;
}

.receipts-cover-building-number {
    margin: 30px 30px 0px 0px;
    align-self: flex-end;
    font-size: 30px;
    font-weight: bold;
}

.receipts-cover-company-name {
    margin: 40px 0px;
    align-self: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.receipts-cover-payers-data {
    align-self: flex-end;
    font-size: 25px;
    margin: 10px 30px 0px 0px;
}

.owners-data {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
}

.owners-name {
    margin: 0;
}

.owners-phone {
    margin: 0px 0px 0px 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.back-button {
    margin: 20px 20px 20px 0;
    font-size: 40px;
    padding: 0 30px;
    border: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.back-button:hover {
    background: black;
    color: white;
}

.print-button {
    margin: 20px 0 20px 0;
    font-size: 40px;
    padding: 1.5rem 2rem;
    border: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.print-button:hover {
    background: black;
    color: white;
}

.hide {
    display: none;
}
